In [16]:
import csv
fifa_file = open('Fifa18.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,6,7,8]:
        row[idx] = float(row[idx])

def get_column(col_idx):
    return [row[col_idx] for row in player_data]

def player_count(country):
    count = 0
    for x in range(len(player_data)):
        nationality = player_data[x][header.index("nationality")]
        if nationality == country:
            count +=1
            
        else:
            pass
    return count

In [2]:
print(header)

['Id', 'name', 'Age', 'nationality', 'club', 'league', 'euro_wage', 'networth', 'score_of_100']

In [3]:
#q1
index_oldest = 0
oldest_age = 0
for x in range(len(player_data)): #iterate through entire list
    currentAge = player_data[x][header.index("Age")]
    #currentAge = float(currentAge)
    if currentAge > oldest_age:
        oldest_age = currentAge
        index_oldest = x

player_data[index_oldest][header.index("name")]

'B. Richardson'

In [4]:
#q2
index_highestPay = 0
highest_pay = 0
for x in range(len(player_data)): #iterate through entire list
    currentPay = player_data[x][header.index("euro_wage")]
    
    if currentPay > highest_pay:
        highest_pay = currentPay
        index_highestPay = x

player_data[index_highestPay][header.index("name")]

'Cristiano Ronaldo'

In [5]:
#q3
index_highestNetWorth = 0
highest_NetWorth = 0
for x in range(len(player_data)): #iterate through entire list
    currentNetWorth = player_data[x][header.index("networth")]
    
    if currentNetWorth > highest_NetWorth:
        highest_NetWorth = currentNetWorth
        index_highestNetWorth = x

player_data[index_highestNetWorth][header.index("name")]

'Neymar'

In [6]:
#q4
player_data[index_highestNetWorth][header.index("club")]

'Paris Saint-Germain'

In [7]:
#q5
question5 = get_column(header.index("nationality"))
first_5nationalities = question5[:5]
first_5nationalities

['Portugal', 'Argentina', 'Brazil', 'Uruguay', 'Germany']

In [8]:
#q6
question6 = get_column(header.index("name"))
question6.sort()
first_5alphabetically = question6[:5]
first_5alphabetically

['A. Abbas', 'A. Abbas', 'A. Abdallah', 'A. Abdennour', 'A. Abdi']

In [9]:
#q7
question7 = get_column(header.index("networth"))
sum_question7 = sum(question7)
avg_question7 = sum_question7 / len(question7)
avg_question7

2407282.6149178543

In [11]:
#q8
question8 = get_column(header.index("Age"))
sum_question8 = sum(question8)
avg_question8 = sum_question8/ len(question8)
avg_question8

25.133264640219817

In [18]:
#q9
player_count("Portugal")

355

In [19]:
#q10
player_count("Brazil")

800

In [34]:
#q11
unique_countries = []
for x in range(len(player_data)):
    current_country = player_data[x][header.index("nationality")]
    if current_country not in unique_countries:
        unique_countries.append(current_country)

country = ""
num_people = 0
for countries in unique_countries:
    number = player_count(countries)
    if number>num_people:
        num_people = number
        country = countries
    else:
        pass
    
country

'England'